html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#tap-to-place {
  position: fixed;
  bottom: 20px;
  left: 50%;
  right: 0px;
  border-radius: 15px;
  background: black;
  color: white;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 13px;
  /* font-weight: bold; */
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_six {
  position: fixed;
  top: 50px;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
.button_four {
  position: fixed;
  top: 100px;
  left: 0px;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top .button_front {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top .button_front {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
