@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pokemon";
  src: url("../public/PokemonSolid.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  width: 100vw;
  height: 100vh;
background-image: url('../public/background.png'); 
z-index: -99;
background-repeat: no-repeat;
background-attachment: fixed;
/* overflow: hidden; */
}

body::after{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -9999;
  background-attachment: fixed;
}

.glassmorphism{
  backdrop-filter: blur(2px) saturate(86%);
  -webkit-backdrop-filter: blur(2px) saturate(86%);
  background-color: rgba(17, 25, 40, 0.77);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 9;
}

.image-animation{

}

.font {
  font-family: "pokemon";
}

.shadow {
  box-shadow: 1px -3px 84px -6px rgba(255, 222, 0, 0.65);
  -webkit-box-shadow: 1px -3px 84px -6px rgba(255, 222, 0, 0.65);
  -moz-box-shadow: 1px -3px 84px -6px rgba(255, 222, 0, 0.65);
}

/* button */
.btn {
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #F7CC32;
  transition: all 800ms ease;
}

.text {
  font-weight: 700;
  color: #AAAAAA;
  
  font-size: larger;
}

.btn:hover {
  background: linear-gradient(0deg,#f7cc32c2,#f7cc32db);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #F7CC32;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}